# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.scala text
*.java text


demo.html linguist-vendored=false
jquery.console.js linguist-vendored=false
jquery-2.1.4.min.js linguist-vendored=false
json2.js linguist-vendored=false